:root {
    --date-time-color: #ffffff; /* bianco */
    --reality-color: #000000; /* valore aggiornato via JS */
}

/* Nasconde il cursore di sistema ovunque */
html, body, * {
    cursor: none !important;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    font-family: monospace;
    overflow: hidden;
}

/* Contenitore centrale */
.center-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-direction: row;
}

/* Parole */
.word {
    font-size: 5vw;
    text-transform: uppercase;
    transition: color 0.3s;
}

/* Responsive */
@media (max-width: 768px) {
    .center-container {
        flex-direction: column;
        gap: 20px;
    }

    .word {
        font-size: 5vw;
    }
}

/* Fascia inferiore fissa colorata (della reality) */
#layout-indicator {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--reality-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    font-family: monospace;
    font-size: 10px;
    z-index: 1000;
    box-sizing: border-box;
}

/* Colore del testo bianco */
.date-time, #layout-text, #cursor-position {
    color: var(--date-time-color);
    transition: color 0.3s;
}

/* Cursore personalizzato */
#custom-cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    font-size: 200px;
    pointer-events: none;
    z-index: 9999;
    user-select: none;
    transform: translate(-50%, -50%);
    transition: color 0.3s;
}
