:root {
  --theme-color: #000; /* Colore predefinito, modificabile via JS */
}

body {
  margin: 0;
  background: white;
  font-family: monospace;
  color: var(--theme-color);
  overflow: hidden;
}

.works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
  padding: 20px;
  height: calc(100vh - 40px);
  box-sizing: border-box;
}

.work-square {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  cursor: pointer;
  border: 10px solid var(--theme-color);
}

.work-square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.work-square:hover img {
  transform: scale(1.05);
}

.work-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: var(--theme-color);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-title {
  color: var(--theme-color);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 1em;
  text-align: center;
}

.work-square:hover .work-overlay {
  opacity: 0.4;
}

.work-square:hover .work-title {
  opacity: 0.5;
  color: var(--theme-color);
  background: white;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Indicatore basso */
#layout-indicator {
    position: fixed;
    bottom: 10px;
    width: 99%;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    font-family: monospace;
    font-size: 10px;
    z-index: 1000;
    color: var(--theme-color);
}

/* Cursore personalizzato */
#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-size: 20px;
  font-family: monospace;
  z-index: 9999;
}
